In [2]:
import pandas as pd
loans_2015 = pd.read_csv('LoanStats3d.csv', skiprows=1)
half_count = len(loans_2015) / 2
loans_2015 = loans_2015.dropna(thresh=half_count, axis=1)
loans_2015 = loans_2015.drop(['url'],axis=1)
loans_2015.to_csv('loans_2015.csv', index=False)

/Users/hengsong/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loans_2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68444620,73334399.0,35000.0,35000.0,35000.0,60 months,11.99%,778.38,C,C1,...,0.0,1.0,91.3,33.3,0.0,0.0,220950.0,49644.0,26800.0,71700.0
1,68426545,73316365.0,16000.0,16000.0,16000.0,60 months,12.88%,363.07,C,C2,...,0.0,1.0,100.0,60.0,0.0,0.0,309638.0,62407.0,45900.0,45838.0
2,68466926,73356763.0,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,...,0.0,2.0,95.7,28.6,1.0,0.0,61099.0,27957.0,16400.0,30799.0
3,68356614,73246437.0,7200.0,7200.0,7200.0,36 months,11.48%,237.36,B,B5,...,0.0,3.0,100.0,0.0,0.0,0.0,189950.0,20256.0,15500.0,22450.0
4,68387134,73276991.0,2500.0,2500.0,2500.0,36 months,17.27%,89.47,D,D3,...,1.0,3.0,68.4,0.0,0.0,0.0,196429.0,197169.0,700.0,193929.0

In [4]:
print(loans_2015.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim', 'acc_open_past_24mths',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths',
       'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op',
       'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',
       'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [5]:
loans_2015 = loans_2015.drop(["id", "member_id", "funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d"], axis=1)

In [6]:
loans_2015 = loans_2015.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"], axis=1)

In [7]:
loans_2015 = loans_2015.drop(["total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"], axis=1)

In [8]:
print(loans_2015.columns)

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [9]:
print(loans_2015['loan_status'].value_counts())

Current               294704
Fully Paid             82850
Charged Off            27501
Late (31-120 days)      9829
In Grace Period         4078
Late (16-30 days)       2111
Default                   22
Name: loan_status, dtype: int64

In [10]:
loans_2015 = loans_2015[(loans_2015['loan_status'] == "Fully Paid") | (loans_2015['loan_status'] == "Charged Off")]

status_replace = {"loan_status" : {"Fully Paid": 1,"Charged Off": 0,}}
loans_2015 = loans_2015.replace(status_replace)

In [11]:
orig_columns = loans_2015.columns
drop_columns = []
for col in orig_columns:
    col_series = loans_2015[col].dropna().unique()
    if len(col_series) == 1:
        drop_columns.append(col)
loans_2015 = loans_2015.drop(drop_columns, axis=1)
print(drop_columns)

['pymnt_plan', 'policy_code']

In [12]:
loans_2015.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
8,24250.0,60 months,24.24%,701.01,4 years,MORTGAGE,75000.0,Not Verified,0,debt_consolidation,...,0.0,3.0,100.0,63.6,0.0,0.0,344960.0,38475.0,29100.0,18300.0
17,15000.0,36 months,9.80%,482.61,3 years,MORTGAGE,92000.0,Not Verified,1,debt_consolidation,...,0.0,4.0,100.0,0.0,1.0,0.0,347470.0,53397.0,36100.0,47370.0
22,18000.0,60 months,11.99%,400.31,10+ years,MORTGAGE,112000.0,Not Verified,1,debt_consolidation,...,0.0,4.0,100.0,0.0,0.0,0.0,309710.0,36127.0,69800.0,26210.0
24,14025.0,60 months,18.49%,359.90,10+ years,MORTGAGE,39000.0,Verified,1,debt_consolidation,...,0.0,2.0,100.0,66.7,0.0,0.0,72286.0,15646.0,8800.0,0.0
27,10400.0,60 months,22.45%,289.91,3 years,MORTGAGE,104433.0,Source Verified,1,major_purchase,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0

In [14]:
loans_2015.shape

(110351, 66)

In [13]:
null_counts = loans_2015.isnull().sum()
print(null_counts)

loan_amnt                          0
term                               0
int_rate                           0
installment                        0
emp_length                         0
home_ownership                     0
annual_inc                         0
verification_status                0
loan_status                        0
purpose                            0
title                             29
addr_state                         0
dti                                0
delinq_2yrs                        0
earliest_cr_line                   0
inq_last_6mths                     0
mths_since_last_delinq         53441
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                        53
total_acc                          0
initial_list_status                0
next_pymnt_d                  110351
last_credit_pull_d                 1
collections_12_mths_ex_med         0
application_type                   0
acc_now_delinq                     0
tot_coll_amt                       0
tot_cur_bal                        0
                               ...
delinq_amnt                        0
mo_sin_old_il_acct              2743
mo_sin_old_rev_tl_op               0
mo_sin_rcnt_rev_tl_op              0
mo_sin_rcnt_tl                     0
mort_acc                           0
mths_since_recent_bc            1135
mths_since_recent_inq           8637
num_accts_ever_120_pd              0
num_actv_bc_tl                     0
num_actv_rev_tl                    0
num_bc_sats                        0
num_bc_tl                          0
num_il_tl                          0
num_op_rev_tl                      0
num_rev_accts                      1
num_rev_tl_bal_gt_0                0
num_sats                           0
num_tl_120dpd_2m                5017
num_tl_30dpd                       0
num_tl_90g_dpd_24m                 0
num_tl_op_past_12m                 0
pct_tl_nvr_dlq                     0
percent_bc_gt_75                1262
pub_rec_bankruptcies               0
tax_liens                          0
tot_hi_cred_lim                    0
total_bal_ex_mort                  0
total_bc_limit                     0
total_il_high_credit_limit         0
dtype: int64

In [16]:
loans_2015 = loans_2015.drop(["mths_since_last_delinq","next_pymnt_d","mo_sin_old_il_acct","mths_since_recent_bc","mths_since_recent_inq","num_tl_120dpd_2m","percent_bc_gt_75","pub_rec_bankruptcies"], axis=1)
loans_2015 = loans_2015.dropna(axis=0)
print(loans_2015.dtypes.value_counts())

float64    44
object     13
int64       1
dtype: int64

In [18]:
object_columns_df = loans_2015.select_dtypes(include=["object"])
print(object_columns_df.iloc[0])

term                            36 months
int_rate                            9.80%
emp_length                        3 years
home_ownership                   MORTGAGE
verification_status          Not Verified
purpose                debt_consolidation
title                  Debt consolidation
addr_state                             OR
earliest_cr_line                 Nov-2001
revol_util                          35.2%
initial_list_status                     w
last_credit_pull_d               Apr-2016
application_type               INDIVIDUAL
Name: 17, dtype: object

In [19]:
object_columns_df["int_rate"].head(20)

17       9.80%
22      11.99%
24      18.49%
27      22.45%
40      19.89%
42      14.85%
49       5.32%
51      17.97%
64      11.99%
67      15.77%
83       8.49%
84       6.49%
86       9.17%
88       9.17%
93      19.89%
94      15.77%
101     20.50%
102      5.32%
107     10.78%
109     11.48%
Name: int_rate, dtype: object

In [21]:
for c in object_columns_df.columns:
    print(loans_2015[c].value_counts())

 36 months    76445
 60 months    32605
Name: term, dtype: int64
 12.29%    4788
 12.69%    4787
 13.99%    4706
 13.33%    4600
 10.99%    4552
  9.99%    4321
  7.89%    4229
 11.53%    4193
  9.17%    4183
 14.65%    3836
  8.18%    3576
 15.61%    3511
 16.55%    3108
 17.86%    3077
 16.99%    2937
 17.57%    2904
 18.25%    2200
  7.26%    1682
  5.32%    1510
 19.99%    1424
 11.99%    1391
  6.24%    1324
  6.89%    1240
 18.55%    1194
  6.92%    1172
 20.99%    1150
 12.99%    1053
 19.19%    1048
 22.99%    1048
 12.39%    1028
           ...
 25.83%     123
 25.99%     103
 27.88%      96
 25.89%      93
 11.48%      67
  9.80%      66
 28.49%      63
 12.88%      59
 28.99%      58
 14.85%      55
 13.44%      54
 15.77%      49
 10.78%      49
 16.59%      45
  8.49%      44
  7.91%      44
 26.06%      42
 17.27%      30
 17.97%      27
 21.48%      27
 20.50%      21
 19.89%      20
 19.48%      19
  6.00%      14
 22.45%      11
 23.13%      11
 24.24%      10
 25.09%       5
 27.49%       3
 26.99%       2
Name: int_rate, dtype: int64
10+ years    35965
2 years       9943
< 1 year      9103
3 years       8788
1 year        7292
5 years       6526
4 years       6399
8 years       5708
n/a           5679
7 years       4904
6 years       4407
9 years       4336
Name: emp_length, dtype: int64
MORTGAGE    54155
RENT        42968
OWN         11927
Name: home_ownership, dtype: int64
Source Verified    45983
Verified           34366
Not Verified       28701
Name: verification_status, dtype: int64
debt_consolidation    67872
credit_card           21858
home_improvement       6883
other                  5319
major_purchase         2019
medical                1109
small_business         1004
car                     931
moving                  754
vacation                682
house                   543
renewable_energy         73
wedding                   2
educational               1
Name: purpose, dtype: int64
Debt consolidation                 67880
Credit card refinancing            21863
Home improvement                    6875
Other                               5318
Major purchase                      2014
Medical expenses                    1111
Business                            1002
Car financing                        932
Moving and relocation                753
Vacation                             683
Home buying                          542
Green loan                            73
Trying to come back to reality!        1
Credit Card/Auto Repair                1
new kitchen for momma!                 1
Learning and training                  1
Name: title, dtype: int64
CA    16757
TX     8770
NY     8336
FL     7678
IL     3769
PA     3744
NJ     3668
GA     3494
OH     3413
NC     3219
VA     3159
MI     2953
CO     2850
AZ     2741
MD     2517
WA     2455
MA     2381
MN     2099
IN     1785
NV     1782
TN     1736
MO     1619
AL     1415
WI     1402
OR     1394
CT     1361
LA     1313
SC     1190
OK     1016
UT      989
KY      979
KS      851
AR      766
NM      664
MS      604
HI      600
NH      467
WV      433
RI      427
MT      310
DE      305
AK      277
DC      267
WY      251
NE      248
SD      222
VT      201
ND       92
ME       81
Name: addr_state, dtype: int64
Aug-2001    877
Aug-2002    876
Sep-2003    828
Sep-2002    827
Aug-2003    820
Sep-2004    807
Aug-2000    789
Oct-2001    768
Oct-2002    764
Aug-2004    727
Jul-2001    707
Oct-2003    702
Sep-2000    700
Sep-2001    695
Nov-2000    693
Jul-2003    690
Aug-1999    678
Oct-2000    675
Sep-1999    671
Dec-2001    666
May-2003    660
Jul-2002    650
Mar-2001    646
Nov-1999    643
Oct-2004    642
Oct-1999    640
Nov-2001    640
Nov-2003    638
Apr-2002    637
Jul-2004    637
           ...
Jul-1963      1
May-1962      1
Sep-1966      1
Jun-1959      1
Mar-1962      1
May-1965      1
Nov-1963      1
Feb-1966      1
Dec-1963      1
Jan-1954      1
Jun-1955      1
Mar-1963      1
Apr-1958      1
Aug-1963      1
Dec-1964      1
Feb-1964      1
Jul-1962      1
Aug-1965      1
Dec-1958      1
Dec-1959      1
Dec-1961      1
Jan-1951      1
Mar-1965      1
Nov-1957      1
Aug-1951      1
Apr-1962      1
Jan-1958      1
Nov-1958      1
Oct-1964      1
Oct-1960      1
Name: earliest_cr_line, dtype: int64
0%        416
53%       252
47%       250
49%       236
52%       233
50%       233
44%       232
55%       232
58%       231
61%       229
54%       228
39%       228
60%       223
51%       223
65%       222
57%       220
59%       219
56%       217
64%       214
62%       213
46%       211
69%       210
42%       210
68%       208
74%       208
48%       207
43%       207
41%       206
63%       205
37%       205
         ...
106.9%      1
116.4%      1
152.5%      1
107.4%      1
102.8%      1
108.6%      1
118.1%      1
108.1%      1
106.7%      1
117.6%      1
114.5%      1
110.6%      1
103.6%      1
108%        1
132.1%      1
114.4%      1
145.8%      1
107.9%      1
106%        1
108.4%      1
121.4%      1
104.7%      1
107.7%      1
121%        1
127.6%      1
130.4%      1
103.9%      1
117.7%      1
110.2%      1
104.3%      1
Name: revol_util, dtype: int64
w    63292
f    45758
Name: initial_list_status, dtype: int64
Dec-2016    48208
Oct-2016    18133
Nov-2016     7379
Aug-2016     4241
Jul-2016     4137
Apr-2016     3397
Sep-2016     3088
Jun-2016     3064
Mar-2016     3041
May-2016     2673
Feb-2016     2605
Jan-2016     1806
Dec-2015     1497
Nov-2015     1175
Oct-2015     1047
Sep-2015      950
Aug-2015      686
Jul-2015      622
Jun-2015      467
May-2015      310
Apr-2015      244
Mar-2015      142
Feb-2015       90
Jan-2015       44
Dec-2014        4
Name: last_credit_pull_d, dtype: int64
INDIVIDUAL    108968
JOINT             82
Name: application_type, dtype: int64

In [37]:
mapping_dict = {"emp_length": {
        "10+ years":10,
        "2 years":2,
        "< 1 year":0,
        "3 years":3,
        "1 year":1,
        "5 years":5,
        "4 years":4,
        "8 years":8,
        "n/a":0,
        "7 years":7,
        "6 years":6,
        "9 years":9
    }
}

loans_2015 = loans_2015.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state"], axis=1)
loans_2015["int_rate"] = loans_2015["int_rate"].str.rstrip("%").astype("float")
loans_2015["revol_util"] = loans_2015["revol_util"].str.rstrip("%").astype("float")
loans_2015 = loans_2015.replace(mapping_dict)

ValueError: labels ['last_credit_pull_d' 'earliest_cr_line' 'addr_state'] not contained in axis

In [26]:
loans_2015["emp_length"].value_counts()

10    35965
0     14782
2      9943
3      8788
1      7292
5      6526
4      6399
8      5708
7      4904
6      4407
9      4336
Name: emp_length, dtype: int64

In [38]:
loans_2015 = loans_2015.drop("title", axis=1)
object_columns_df_filtered = loans_2015.select_dtypes(include=["object"])
object_columns_df_filtered.columns

Index(['term', 'home_ownership', 'verification_status', 'purpose',
       'initial_list_status', 'application_type'],
      dtype='object')

In [39]:
#cat_columns = ["home_ownership", "verification_status", "emp_length", "purpose", "term"]
dummy_df = pd.get_dummies(loans_2015[object_columns_df_filtered.columns])
dummy_df.head(20)

,term_ 36 months,term_ 60 months,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,initial_list_status_f,initial_list_status_w,application_type_INDIVIDUAL,application_type_JOINT
17,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
22,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
24,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
27,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
40,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
42,0,1,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
49,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
51,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
64,1,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
67,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
83,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
84,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
86,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
88,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
93,0,1,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
94,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
101,0,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
102,1,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,1,0
107,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
109,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0

In [40]:
loans_2015 = pd.concat([loans_2015, dummy_df], axis=1)
loans_2015 = loans_2015.drop(object_columns_df_filtered.columns, axis=1)

In [41]:
loans_2015.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,initial_list_status_f,initial_list_status_w,application_type_INDIVIDUAL,application_type_JOINT
17,15000.0,9.80,482.61,3,92000.0,1,13.89,0.0,1.0,7.0,...,0,0,0,0,0,0,0,1,1,0
22,18000.0,11.99,400.31,10,112000.0,1,8.68,0.0,0.0,17.0,...,0,0,0,0,0,0,0,1,1,0
24,14025.0,18.49,359.90,10,39000.0,1,18.00,0.0,1.0,12.0,...,0,0,0,0,0,0,0,1,1,0
27,10400.0,22.45,289.91,3,104433.0,1,25.37,1.0,3.0,12.0,...,0,0,0,0,0,0,0,1,1,0
40,8650.0,19.89,320.99,8,55000.0,1,25.49,0.0,4.0,18.0,...,0,0,0,0,0,0,0,1,1,0

In [42]:
loans_2015.to_csv('loans_2015_cleaned_and_prepared.csv', index=False)

In [1]:
import pandas as pd
loans_2015_filtered = pd.read_csv('loans_2015_cleaned_and_prepared.csv')

In [2]:
print(loans_2015_filtered.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109050 entries, 0 to 109049
Data columns (total 74 columns):
loan_amnt                              109050 non-null float64
int_rate                               109050 non-null float64
installment                            109050 non-null float64
emp_length                             109050 non-null int64
annual_inc                             109050 non-null float64
loan_status                            109050 non-null int64
dti                                    109050 non-null float64
delinq_2yrs                            109050 non-null float64
inq_last_6mths                         109050 non-null float64
open_acc                               109050 non-null float64
pub_rec                                109050 non-null float64
revol_bal                              109050 non-null float64
revol_util                             109050 non-null float64
total_acc                              109050 non-null float64
collections_12_mths_ex_med             109050 non-null float64
acc_now_delinq                         109050 non-null float64
tot_coll_amt                           109050 non-null float64
tot_cur_bal                            109050 non-null float64
total_rev_hi_lim                       109050 non-null float64
acc_open_past_24mths                   109050 non-null float64
avg_cur_bal                            109050 non-null float64
bc_open_to_buy                         109050 non-null float64
bc_util                                109050 non-null float64
chargeoff_within_12_mths               109050 non-null float64
delinq_amnt                            109050 non-null float64
mo_sin_old_rev_tl_op                   109050 non-null float64
mo_sin_rcnt_rev_tl_op                  109050 non-null float64
mo_sin_rcnt_tl                         109050 non-null float64
mort_acc                               109050 non-null float64
num_accts_ever_120_pd                  109050 non-null float64
num_actv_bc_tl                         109050 non-null float64
num_actv_rev_tl                        109050 non-null float64
num_bc_sats                            109050 non-null float64
num_bc_tl                              109050 non-null float64
num_il_tl                              109050 non-null float64
num_op_rev_tl                          109050 non-null float64
num_rev_accts                          109050 non-null float64
num_rev_tl_bal_gt_0                    109050 non-null float64
num_sats                               109050 non-null float64
num_tl_30dpd                           109050 non-null float64
num_tl_90g_dpd_24m                     109050 non-null float64
num_tl_op_past_12m                     109050 non-null float64
pct_tl_nvr_dlq                         109050 non-null float64
tax_liens                              109050 non-null float64
tot_hi_cred_lim                        109050 non-null float64
total_bal_ex_mort                      109050 non-null float64
total_bc_limit                         109050 non-null float64
total_il_high_credit_limit             109050 non-null float64
term_ 36 months                        109050 non-null int64
term_ 60 months                        109050 non-null int64
home_ownership_MORTGAGE                109050 non-null int64
home_ownership_OWN                     109050 non-null int64
home_ownership_RENT                    109050 non-null int64
verification_status_Not Verified       109050 non-null int64
verification_status_Source Verified    109050 non-null int64
verification_status_Verified           109050 non-null int64
purpose_car                            109050 non-null int64
purpose_credit_card                    109050 non-null int64
purpose_debt_consolidation             109050 non-null int64
purpose_educational                    109050 non-null int64
purpose_home_improvement               109050 non-null int64
purpose_house                          109050 non-null int64
purpose_major_purchase                 109050 non-null int64
purpose_medical                        109050 non-null int64
purpose_moving                         109050 non-null int64
purpose_other                          109050 non-null int64
purpose_renewable_energy               109050 non-null int64
purpose_small_business                 109050 non-null int64
purpose_vacation                       109050 non-null int64
purpose_wedding                        109050 non-null int64
initial_list_status_f                  109050 non-null int64
initial_list_status_w                  109050 non-null int64
application_type_INDIVIDUAL            109050 non-null int64
application_type_JOINT                 109050 non-null int64
dtypes: float64(46), int64(28)
memory usage: 61.6 MB
None

In [3]:
cols = loans_2015_filtered.columns
train_cols = cols.drop("loan_status")
features = loans_2015_filtered[train_cols]
target = loans_2015_filtered["loan_status"]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=0)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
# transform train data
X_train_scaled = scaler.transform(X_train)
# transform test data
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectPercentile, f_regression
from sklearn.model_selection import GridSearchCV
# change the precentile here to reduce the training
select = SelectPercentile(score_func=f_regression, percentile=5).fit(X_train_scaled, y_train)
X_selected = select.transform(X_train_scaled)
print(X_selected.shape)

(81787, 4)

In [7]:
X_test_selected = select.transform(X_test_scaled)

In [10]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_selected, y_train)
LR.score(X_test_selected, y_test)   
# much quicker than SVC and even higher scores

0.75241169350401649

In [11]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_selected, y_train)
svc.score(X_test_selected, y_test)
# not higher than LogisticRegression ...

0.74797344386164399

In [12]:
# Then swith to test the RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200, max_depth=9)
rf.fit(X_selected, y_train)
print(rf.score(X_selected, y_train))
print(rf.score(X_test_selected, y_test))

0.767041216819
0.751898177016

In [13]:
rf1 = RandomForestClassifier(n_estimators=200, n_jobs=-1)
parameters_1 = {'max_features':['sqrt', 'log2'],'max_depth':[11, 13, 15]}   #New parameter set with higher 'max_depth'
grid_1 = GridSearchCV(rf1, parameters_1, cv=5)
grid_1.fit(X_selected, y_train)
grid_1.score(X_selected, y_train)
grid_1.score(X_test_selected, y_test)

0.75043098705204858

In [15]:
grid_1.grid_scores_

/Users/hengsong/anaconda/lib/python3.5/site-packages/sklearn/model_selection/_search.py:667: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.75516, std: 0.00038, params: {'max_depth': 11, 'max_features': 'sqrt'},
 mean: 0.75503, std: 0.00091, params: {'max_depth': 11, 'max_features': 'log2'},
 mean: 0.75171, std: 0.00089, params: {'max_depth': 13, 'max_features': 'sqrt'},
 mean: 0.75143, std: 0.00106, params: {'max_depth': 13, 'max_features': 'log2'},
 mean: 0.74580, std: 0.00166, params: {'max_depth': 15, 'max_features': 'sqrt'},
 mean: 0.74601, std: 0.00201, params: {'max_depth': 15, 'max_features': 'log2'}]